{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "trailingComma": "none",
    "printWidth": 120,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "never",
    "singleAttributePerLine": true
}
